<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Covid Data Analysis </title>
</head>
<body>
    <div> 
        <h1> Covid Data Analysis </h1>
    </div>

    <div id="wrapper_two">
        <h2>California State Wide Data</h2>
        <canvas id="chart_two"></canvas>
    </div>
    


          <!-- California County -->  
    <div id="wrapper_three">         
        <div class="chart-title">
                California Counties
            </div>
              <div class="chart-stage">
                <div id="location-row-chart"></div>
              </div>
            </div>
        </div>
          <!-- California Province -->  
        </div>
      </div>
      

      <div class="col-sm-4">

        <div class="row">
          <!-- Map -->  
          <div class="col-sm-12"> 
            <div class="chart-wrapper">
              <div class="chart-title">
                Map
              </div>
              <div class="chart-stage">
                <div id="map" style="width: 400px; height: 380px"></div>
              </div>
            </div>
          </div>
          <!-- Map -->  
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="../static/js/index1.js"></script>
<script type="text/javascript" src="../static/js/maps.js"></script>
<!-- <script src="../static/lib/js/jquery.min.js"></script>
<script src="../static/lib/js/bootstrap.min.js"></script>
<script src="../static/lib/js/underscore-min.js"></script>
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/d3.js"></script>
<script src="../static/lib/js/queue.js"></script>
<script src="../static/lib/js/leaflet.js"></script>
<script src="../static/lib/js/leaflet-heat.js"></script><script src="../static/lib/js/keen.min.js"></script>
  <script src="../static/js/rangechart.js" type='text/javascript'></script> -->
</body>
</html>
